[Desktop Entry]
Name=WhatsAppQT
Comment=Unofficial WhatsApp Web Desktop Client.
Exec=WhatsAppQT
Type=Application
Icon=io.bit3.WhatsAppQT
Categories=Network;InstantMessaging;
StartupNotify=false
StartupWMClass=WhatsAppQT
Terminal=false

